*{
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1em;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

.logo {
  font-size: 22px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  margin-bottom:30px;
  letter-spacing: 1px;
  font-weight: 600;
}

.logo a{
  color: white;
  position: relative;
}

.logo img {
  height: 50px;
  width: auto;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  font-size: 20px;
  font-weight: 500;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 40px;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.feature, .sign-in {
  width: 80px;
  text-align: center;
}

.feature {
  width: 100px;
}

.feature:hover, .sign-in:hover {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  display: none;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  font-size: auto;

}

.git i {
  font-size: 30px;
  font-weight: 100;
  transition: all ease;
}

.git:hover {
  transform: scale(1.1);
}

.dropdown-container i{
  font-size: 30px;
  font-weight: 100;
}

.dropdown-container:hover .dropdown-content {
  display: flex;
  border: 1px solid white;
}

.dropdown-content a:hover {
  color: white ;
  background-color: black;
}

.start-box {
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: solid 2px white;
  box-shadow: 0 0 15px rgba(138, 138, 138, 0.781);
}

.start-box .start {
  color: black;
  font-weight: 600;
}

.start-box:hover {
  background-color: black;
  cursor: pointer;
  box-shadow: 0 0 20px 1px rgb(145, 145, 145);
  box-shadow: 0 0 20px 0 rgba(167, 167, 167, 0.507);
}

.start-box:hover .start {
  color: white;
}

.main-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 100px;
  gap: 0;
  height: 90%;
}

.first {
  font-size: 200px;
  font-weight: 700;
  align-self: flex-start;
  line-height: 80%;
}

.second {
  font-size: 180px;
  font-weight: 600;
  align-self: flex-end;
  line-height: 80%;
}

.main-container button {
  width: 200px;
  padding: 1em 2em;
  font-size: 18px;
  background: none;
  color: white;
  border-radius: 30px;
  border: solid, 3px, white;
  margin-top: 5em;
  transition: all 0.5s ease;
  box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
}

.main-container button:hover {
  color: black;
  cursor: pointer; 
  box-shadow: inset 200px 0 0 0 rgb(255, 255, 255);
  font-weight: bolder;
}

.features-container {
  background-color: black;
  padding: 3em 40px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.features-container video {
  width: 580px;
  height: 350px;
  object-fit: fill;
}

.vertical-line {
  width: 4px;
  height: 80%;
  background-color: white;
  margin: 0 20px;
  border-radius: 5px;
}

.features-content {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ft {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

.ft p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.ft i{
  font-size: 40px;
}

.test-container {
  height: 100vh;
  padding: 3em 40px;
  background-color: black;
}

.test-head {
  text-align: left;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 200px;
}

.test-content {
  display: flex;
  justify-content: center;
  align-items: space-between ;
  gap: 5em;
}

.test-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.test-text {
  font-size: 20px;
}

.horizontal-line {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.test-details-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.test-details-container img {
  width: 80px;
  height: auto;
}

.test-details-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:5px;
  width: 100%;
  height: 100%;
}

.test-details-item p {
  font-size: 30px;
  font-weight: bold;
}

.test-details-item .prof {
  font-size: 15px;
  font-weight: 200;
}

.quotes-container {
  background-color: black;
  height: 100vh;
  padding: 3em 60px;
  background-image: url('./images/quote-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.q-item {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.q-text {
  line-height: 100%;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.q-name {
  font-size: 25px;
  align-self: flex-end;
  color: rgb(184, 181, 181);
}

.q-item.one, .q-item.three {
  align-self: flex-start;
}

.q-item.two {
  align-self: flex-end;
}

.mark {
  color: yellow;
  font-size: 45x;
  font-weight: lighter;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.514);
  background-color: black;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.footer p, .footer a {
  display: inline-block;
  padding: 0 10px;
  letter-spacing: 2px;
}

#scroll-btn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 8px rgb(255, 255, 255);
  border: none;
  opacity: 0.6;
  transition: all ease 0.3s;
  border-radius: 50%;
  border: dotted 2px black;
}

#scroll-btn:hover {
  opacity: 1;
}

#scroll-btn i{
  font-size: 40px;
  color: black;
}
@media screen and (max-width: 1100px) {
  .main-container {
    height: calc(100vh - 110px);
  }
  .first {
    font-size: 130px;
    line-height: 80%;
  }
  .second {
    font-size: 118px;
    line-height: 80%;
  }
  .logo img {
    height: 45px;
    width: auto;
  }
  .menus {
    font-size: 18px;
    min-height: 20%;
  }
}


@media screen and (max-width: 900px) {
  .main-container button {
    width: 150px;
    font-size: 12px;
    margin-top: 2.5em;
  }
  .menus {
    display: none;
    width: 100%;
    font-size: 18px;
  }
  .hamburger {
    display: block;
  }
  .menus.show {
    display: flex;
    flex-direction: column;
  }
  .nav {
    position: relative;
  }
  .first {
    font-size: 100px;
    line-height: 100%;
  }
  .second {
    font-size: 90px;
    line-height: 100%;
  }
}

@media (max-width: 650px) {
  .first, .second {
    font-size: 50px;
    align-self: center;
  }
  .main-container button {
    width: 125px;
    font-size: 10px;
    margin-top: 2em;
  }
  .main-container {
    height: calc(80vh - 110px);
  }
  .hamburger {
    font-size: 20px;
  }
  .logo {
    font-size: 15px;
  }
  .logo img {
    height: 30px;
    width: auto;
  }
  .menus {
    font-size: 15px;
    min-height: 20%;
  }
}

html {
    scroll-behavior: smooth;
}


/* preloader css */
#preloader {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#preloader img {
  width: 400px;
  height: 300px;
}

.preloader-text {
  font-family: 'Montserrat';
  font-weight: 300;
  letter-spacing: 1px;
}

#index-page {
  display: none;
}